.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content:flex-start;
    margin: 0 auto;
}

.item {
    list-style: none;
    display: flex;
    flex: 0;
    margin: 20px;
}


@media only screen and (max-width: 768px) {
    .card {
        &:first-child {
            margin-top: 0;
        }
    }
}