.main {
  margin: 1.5em 0;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5em 20px;
}

.search {
  box-sizing: border-box;
  flex: 0.33;
  margin-top: 5px;
  width: 320px;
}

.repo {
  height: 40px;
  text-align: right;
}


.footer {
  margin: 1.5em 1em;
}

.footer a {
  padding-left: .25em;
}

@media only screen and (max-width: 768px) {

  .repo {
    display: none;
  }

  .search {
    min-width: 100%;
  }
}