.main {
  margin: 1.5em 0;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1em;
}

.search {
  flex: 1;
  margin-top: 5px;
}

.repo {
  height: 40px;
  margin-left: 33%;
  text-align: right;
}

.gallery {
  margin-top: 1.5em;
}

.footer {
  margin: 1.5em 1em;
}

.footer a {
  padding-left: .25em;
}

@media only screen and (max-width: 768px) {

  .repo {
    display: none;
  }
}